{% extends 'base.html.twig' %}

{% block title %}Hello TraductionI18NController!{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

{# <div class="example-wrapper">
    <h1>Hello {{ controller_name }}! ✅</h1>

    This friendly message is coming from:
    <ul>
        <li>Your controller at <code>/Users/uedrevivian/Vivian Uedre/AVdJ_exos/AVdJ/avengers_vivian/src/Controller/TraductionI18NController.php</code></li>
        <li>Your template at <code>/Users/uedrevivian/Vivian Uedre/AVdJ_exos/AVdJ/avengers_vivian/templates/traduction_i18_n/index.html.twig</code></li>
    </ul>
</div> #}
<h1>{{ trad }}</h1>
{% trans %}texte.traduire{% endtrans %}
<br>
{% trans with {'%prenom%' : 'Frank'} %}dit.bonjour{% endtrans %}
<br>
{% trans with {'%nb%' : '1'} %}nb_livres{% endtrans %}
<br>
{% trans with {'%prenom%' : 'Alice', '%genre%' : 'feminin'} %}amis{% endtrans %}
{% endblock %}
