{% extends 'base.html.twig' %}

{% block title %}Ajout d'une adresse
{% endblock %}

{% block body %}
	<div class="container">
		<h2>Complétez le formulaire pour ajouter un employé
		</h2>
		{{ form(mon_formulaire_adresses) }}

	</div>
{% endblock %}

{% block footer %}Adresse ajoutée ?
{% endblock %}
