{% extends 'base.html.twig' %}

{% block title %}Succes
{% endblock %}

{% block body %}
	<p>{{ ceb }}</p>
	<p>
		<a href="/adresse">Voir la liste des adresses</a>
	</p>
{% endblock %}

{% block footer %}Yess
{% endblock %}
