{% extends 'base.html.twig' %}

{% block title %}Ajout du livre
{% endblock %}
{% block titrenavbar %}
	<h1>Ajout du livre</h1>
{% endblock %}

{% block body %}
	<div class="container">
		<h2>Complétez le formulaire
		</h2>
		{{ form(mon_formulaire_auteurs) }}
		</div>
{% endblock %}

{% block footer %}Livre ajouté ?
{% endblock %}
