{% extends 'base.html.twig' %}

{% block title %}Succes auteur ajouté
{% endblock %}

{% block body %}
	<div class="container">
		<p>
			<a href="/auteur">Voir la liste d'auteurs</a>
		</p>
	</div>
{% endblock %}

{% block footer %}Yess
{% endblock %}
