{% extends 'base.html.twig' %}

{% block title %}Flore ou Faune ? 
{% endblock %}
{% block titrenavbar %}
	<h1>Faune ou flore ?</h1>
{% endblock %}
{% block body %}
	<style>
		table,
		th,
		td {
			border: 1px solid;
		}
	</style>

	<div
		class="container">

		{# <table class="table">
					<thead class="thead-dark">
						<tr>
							<th scope="col">URL</th>
							<th scope="col">Description</th>
							<th scope="col">Catégorie</th>
						</tr>
					</thead>
					<tbody>
						{% for i in listeducailloux %}
							<tr>
								<td>{{ i.getUrl() }}</td>
								<td>{{ i.getDescription() }}</td>
								<td>
		                            {{ i.getCategorie() }}
								</td>
							</tr>
						{% endfor %}
					</tbody>
				</table> #}


			<a href="/lecailloux/faune" class="btn btn-danger">Faune</a>
			<a href="/lecailloux/flore" class="btn btn-success">Flore</a>
	</div>


{% endblock %}
{% block footer %}La Faune ou la Flore ?
{% endblock %}
