{% extends 'base.html.twig' %}

{% block title %}Faune{% endblock %}
{% block titrenavbar %}
	<h1>Faune ou flore ?</h1>
{% endblock %}
{% block body %}
<h1>Flore</h1>
<div>
    {% for item in itemsflore %}
    <div>
        <img src="{{ item.url }}" alt="image">
        <p>{{ item.description }}</p>
    </div>
    {% endfor %}
</div>
{% endblock %}
{% block footer %}Liste FLore 
{% endblock %}