{% extends 'base.html.twig' %}

{% block title %}Faune
{% endblock %}
{% block titrenavbar %}
	<h1>Faune ou flore ?</h1>
{% endblock %}
{% block body %}
	<h1>Faune</h1>
	<div>
		{% for item in itemsfaune %}
			<div>
				<img src="{{ item.url }}" alt="image">
				<p>{{ item.description }}</p>
			</div>
		{% endfor %}
	</div>
	<a href="/lecailloux" class="btn btn-warning">Revenir à la page Le Cailloux</a>
{% endblock %}
{% block footer %}Liste Faune
{% endblock %}
