{% extends 'base.html.twig' %}

{% block title %}Ajout du livre
{% endblock %}

{% block body %}
	<div class="container">
		<h2>Complétez le formulaire
		</h2>
		{{ form(mon_formulaire_livres) }}
		</div>
{% endblock %}

{% block footer %}Livre ajouté ?
{% endblock %}
