{% extends 'base.html.twig' %}

{% block title %}Succes
{% endblock %}
{% block titrenavbar %}
	<h1>Ajout du livre avec succès</h1>
{% endblock %}

{% block body %}
	<p>{{ ceb }}</p>
	<p>
		<a href="/livres">Voir la liste livres</a>
	</p>
{% endblock %}

{% block footer %}Yess
{% endblock %}
